<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/admin"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Feedback Dashboard</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/user"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a user</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/test">Test Form</a></li>
        <li><a href="../html/test/topic_01.html" target="_blank">Test Topic 01</a></li>
        <li><a href="../html/test/topic_02.html" target="_blank">Test Topic 02</a></li>
        <li><a href="../html/test/test_03_topic.html" target="_blank">Test Topic 03</a></li>
    </ul>
</div>