<div class="container">
    <div class="jumbotron">
        <h1>CAI Documentation Feedback Portal</h1>
    </div>
    <div class="row">
        <div class="col-md-6 well">
            <p><a href="/admin">Administration Console</a></p>
            <p><a href="/login">Login Placeholder</a></p>
        </div>
    </div>
    
</div>
