<div class="container">
    <div class="jumbotron">
        <h1>Simple Feedback</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h1>Log in</h1>
            <p>{{> name-password-form}}</p>
        </div>
    </div>
    
</div>
